/* .show{ */
    /* opacity: 1;
    transition: all 1s ease-in; */
    /* animation: animate-item-show 2s ease-in forwards;
}
.hide{ */
    /* opacity: 0;
    transition: all 1s ease-out; */
    /* animation: animate-item-hide 2s ease-in forwards;
}
@keyframes animate-item-show {
    0% {
        opacity: 0;
        color: blue;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 1;
        color: red;
    }

}

@keyframes animate-item-hide {
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 0;
        color: blue;
    }

} */

.fade-enter{
    opacity: 0.2;
    color: red;
} 
.fade-enter-active{
    opacity: 0.5;
    transition:  opacity 1s ease-in; 
    color: blue;
}
.fade-enter-done{
    opacity: 1;
    color: green;
}
.fade-exit{
    opacity: 1;
    color: blue;
} 
.fade-exit-active{
    opacity: 0.5;
    transition:  opacity 1s ease-in; 
    color: green;
} 
.fade-exit-done{
    opacity: 0.2;
    color: red;
}